<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahead.mapper.AwardMapper">

	<resultMap id="awardMap" type="Award">
		<id column="award_id" property="awardId"/>
		<result column="award_name" property="awardName"/>
		<result column="award_desc" property="awardDesc"/>
		<result column="award_img" property="awardImg"/>
		<result column="point" property="point"/>
		<result column="priority" property="priority"/>
		<result column="create_time" property="createTime"/>
		<result column="last_edit_time" property="lastEditTime"/>
		<result column="enable_status" property="enableStatus"/>
		<association property="shop" javaType="Shop">
			<id column="shop_id" property="shopId"/>
			<result column="shop_name" property="shopName"/>
		</association>
	</resultMap>

	<sql id="award_column">
		a.award_id,
		a.award_name,
		a.award_desc,
		a.award_img,
		a.point,
		a.priority,
		a.create_time,
		a.last_edit_time,
		a.enable_status,
		s.shop_id,
		s.shop_name
	</sql>

	<select id="selectAwardListByWhere" resultMap="awardMap">
		SELECT
			<include refid="award_column"/>
		FROM
			tb_award a
		LEFT JOIN
			tb_shop s
		ON
			a.shop_id = s.shop_id
		<where>
			<!--按奖品名称模糊查询-->
			<if test="awardName != null">
				AND a.award_name LIKE '%${awardName}%'
			</if>
			<!--按店铺查询-->
			<if test="shop != null and shop.shopId != null">
				AND a.shop_id = #{shop.shopId}
			</if>
			<!--按可用状态查询-->
			<if test="enableStatus != null">
				AND a.enable_status = #{enableStatus}
			</if>
		</where>
		ORDER BY
			a.priority DESC, a.award_id ASC
	</select>

	<select id="selectAwardById" resultMap="awardMap">
		SELECT
			<include refid="award_column"/>
		FROM
			tb_award a
		LEFT JOIN
			tb_shop s
		ON
			a.shop_id = s.shop_id
		WHERE
			a.award_id = #{awardId}
	</select>

	<insert id="insertAward" useGeneratedKeys="true" keyProperty="awardId">
		INSERT INTO
			tb_award(award_name, award_desc, award_img, point, priority, create_time,
					 last_edit_time, enable_status, shop_id)
		VALUES
			(#{awardName}, #{awardDesc}, #{awardImg}, #{point}, #{priority}, #{createTime},
			 #{lastEditTime}, #{enableStatus}, #{shop.shopId})
	</insert>

	<update id="updateAwardById">
		UPDATE
			tb_award
		<set>
			<if test="awardName != null"> award_name = #{awardName}, </if>
			<if test="awardDesc != null"> award_desc = #{awardDesc}, </if>
			<if test="awardImg != null"> award_img = #{awardImg}, </if>
			<if test="point != null"> point = #{point}, </if>
			<if test="priority != null"> priority = #{priority}, </if>
			<if test="lastEditTime != null"> last_edit_time = #{lastEditTime}, </if>
			<if test="enableStatus != null"> enable_status = #{enableStatus}, </if>
		</set>
		WHERE
			award_id = #{awardId}
	</update>

	<delete id="deleteAwardById">
		DELETE
		FROM
			tb_award
		WHERE
			award_id = #{awardId}
	</delete>


</mapper>