<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahead.mapper.LocalAuthMapper">

	<sql id="local_auth_column">
		l.local_auth_id, l.username, l.password, l.create_time, l.last_edit_time,
			u.user_id, u.name, u.profile_img, u.email, u.gender, u.enable_status,
				u.user_type, u.create_time, u.last_edit_time
	</sql>

	<resultMap id="localAuthMap" type="LocalAuth">
		<id property="localAuthId" column="local_auth_id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="createTime" column="create_time"/>
		<result property="lastEditTime" column="last_edit_time"/>
		<association property="user" javaType="User" column="user_id">
			<id property="userId" column="user_id"/>
			<result property="name" column="name"/>
			<result property="profileImg" column="profile_img"/>
			<result property="email" column="email"/>
			<result property="gender" column="gender"/>
			<result property="enableStatus" column="enable_status"/>
			<result property="userType" column="user_type"/>
			<result property="createTime" column="create_time"/>
			<result property="lastEditTime" column="last_edit_time"/>
		</association>
	</resultMap>

	<select id="selectLocalAuthByUserNameAndPassword" resultMap="localAuthMap">
		SELECT
			<include refid="local_auth_column"/>
		FROM
			tb_local_auth l
		LEFT JOIN
		 	tb_user u
		ON
			l.user_id=u.user_id
		WHERE
			<if test="username != null">
				l.username=#{username}
			</if>
		 	<if test="password != null">
				and l.password=#{password}
			</if>
	</select>

	<select id="selectLocalAuthByUserId" resultMap="localAuthMap">
		SELECT
			<include refid="local_auth_column"/>
		FROM
			tb_local_auth l
		LEFT JOIN
			tb_user u
		ON
			l.user_id=u.user_id
		WHERE
			l.user_id=#{_parameter}
	</select>

	<insert id="insertLocalAuth" useGeneratedKeys="true" keyProperty="localAuthId">
		INSERT INTO
			tb_local_auth(local_auth_id, username, password, create_time, last_edit_time, user_id)
		VALUES
			(#{localAuthId}, #{username}, #{password}, #{createTime}, #{lastEditTime}, #{user.userId})
	</insert>

	<update id="updateLocalAuthPassword">
		UPDATE
			tb_local_auth
		SET
			password = #{newPassword},
			last_edit_time = #{localAuth.lastEditTime}
		WHERE
			user_id = #{localAuth.user.userId}
		AND
			username = #{localAuth.username}
		AND
			password = #{localAuth.password}
	</update>
</mapper>