<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahead.mapper.UserProductMapMapper">

	<sql id="userProductMapColumn">
		upm.user_product_map_id, upm.create_time,
		b.user_id buyer_id, b.name buyer_name,
		p.product_id, p.product_name, p.point, p.img_addr,
		s.shop_id, s.shop_name, s.shop_img,
		o.user_id operator_id, o.name operator_name
	</sql>
	<resultMap id="userProductMapMap" type="UserProductMap">
		<id column="user_product_map_id" property="userProductMapId"/>
		<result column="create_time" property="createTime"/>
		<!--哪个顾客消费的商品-->
		<association property="buyer" javaType="User">
			<id column="buyer_id" property="userId"/>
			<result column="buyer_name" property="name"/>
		</association>
		<!--消费哪个商品-->
		<association property="product" javaType="Product">
			<id column="product_id" property="productId"/>
			<result column="product_name" property="productName"/>
			<result column="point" property="point"/>
			<result column="img_addr" property="imgAddr"/>
		</association>
		<!--消费的商品属于哪个店铺-->
		<association property="shop" javaType="Shop">
			<id column="shop_id" property="shopId"/>
			<result column="shop_name" property="shopName"/>
			<result column="shop_img" property="shopImg"/>
		</association>
		<!--哪个操作员操作的-->
		<association property="operator" javaType="User">
			<id column="operator_id" property="userId"/>
			<result column="operator_name" property="name"/>
		</association>
	</resultMap>

	<select id="selectUserProductMapListByWhere" resultMap="userProductMapMap">
		SELECT
			<include refid="userProductMapColumn"/>
		FROM
			tb_user_product_map upm,
			tb_product p,
			tb_user b,
			tb_shop s,
			tb_user o
		<where>
				upm.product_id = p.product_id
		  	AND upm.buyer_id = b.user_id
		  	AND upm.shop_id = s.shop_id
		  	AND upm.operator_id = o.user_id
		  	<!--按顾客信息精确查询-->
		  	<if test="buyer != null and buyer.userId != null">
				AND upm.buyer_id = #{buyer.userId}
			</if>
			<!--按店铺信息精确查询-->
			<if test="shop != null and shop.shopId != null">
				AND upm.shop_id = #{shop.shopId}
			</if>
			<!--按顾客名字模糊查询-->
			<if test="buyer != null and buyer.name != null">
				AND b.name LIKE '%${buyer.name}'
			</if>
			<!--按商品名字模糊查询-->
			<if test="product != null and product.productName != null">
				AND p.product_name LIKE '%${product.productName}%'
			</if>
			<!--按消费日期范围查询（查询该日期之后所有的商品消费记录）-->
			<if test="createTime != null">
				AND upm.create_time > #{createTime}
			</if>
		</where>
		ORDER BY upm.create_time DESC
	</select>

	<insert id="insertUserProductMap" useGeneratedKeys="true" keyProperty="userProductMapId">
		INSERT INTO
			tb_user_product_map(buyer_id, product_id, shop_id, create_time, operator_id)
		VALUES
			(#{buyer.userId}, #{product.productId}, #{shop.shopId}, #{createTime}, #{operator.userId})
	</insert>
</mapper>