.infinite-scroll-preloader {
    margin-top: -5px;
}
.shoplist-button-div {
    margin: .3rem;
}
.shoplist-button-div > .button {
    width: 30%;
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    overflow: hidden;
    margin : 4px;
}
.select-wrap {
    margin: .5rem;
}
.select {
    border: 1px solid #0894ec;
    color: #0894ec;
    background-color: #efeff4;
    width: 100%;
    height: 1.5rem;
    font-size: .7rem;
}
#bottom {
    margin-left : 37%;
    margin-right : 37%;
}
.detail-search {
    margin-left: 5%;
    margin-right: 5%;
}